.logoImg{
    margin-left: 130px;
    margin-top: 10px;
}
.title{
    margin-left: 172px;
    margin-top: -35px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;  
    color: #555555;
}
.search-panel{
    margin-left: 400px;
    margin-top: -35px;
    width: 582px;
    height: 46px;
    border: 3px solid #7AC751;
    border-radius: 8px;
    overflow: hidden;
}
.search-input{
    margin-top: -3px;
    margin-left: -5px;
    padding-left: 10px;
    border: 3px solid #E3E3E3C7;
    width: 380px;
    height: 44px;
}
.Categories{
    margin-left: 815px;
    margin-top: -35px;
}
.search-btn{
    cursor: pointer;
    position: absolute;
    width: 56px;
    height: 48px;
    background: #7AC751;
    border: none;
    margin-left: 930px;
    margin-top: -30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img1{
    cursor: pointer;
    position: absolute;
    margin-left: 1180px;
    margin-top: -15px;
}
.img2{
    cursor: pointer;
    position: absolute;
    margin-left: 1230px;
    margin-top: -15px;
}
.img3{
    cursor: pointer;
    position: absolute;
    margin-left: 1280px;
    margin-top: -15px;
}
.All{
    margin-top: 55px;
    margin-left: 135px;
    width: 260px;
    height: 67px;
    background: #7AC751;
}
.ImgAll{
    margin: 23px 33px;
}
.text{
    margin-left: 74px;
    margin-top: -50px;
    position: absolute;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
body nav ul{
    display: flex;
    margin-left: 470px;
    
    margin-top: -40px;
}
body nav ul .nav-list{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #555555;
    cursor: pointer;
}
body nav ul .nav-list .nav-list-item:hover {
    color: #7AC751;
    transition-duration: 1s;
}
.COLLECTIONS{
    margin-left: 135px;
    margin-top: 15px;
    width: 260px;
    height: 434px;
    background: #F7F8FA;
}
li{
    cursor: pointer;
    padding: 3px 29px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px; 
    color: #555555;   
}
li:hover{
    color: #04642a;
    transition-duration: 1s;  
}
hr{
    border: 1px solid #E3E3E3;
}
.slider{
    margin-top: -430px;
    margin-left: 410px;
    width: 899px;
    height: 425px;
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
    backdrop-filter: blur(77.5px);
}
.slider_main{
    width: 100%;
    height: 350%;
    display: flex;
    align-items: center;
}
.slider_main_descriptoin{
    width: 35%;
    height: 100%;
}
.name{
    margin-top: -685px;
    margin-left: 25px; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    
    color: #2F2F2F;
}
.price{
    margin-left: 25px;
    margin-top: 29px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #7AC751;
}
.btnBuy{
    cursor: pointer;
    margin-left: 25px;
    margin-top: 35px;
    width: 129px;
    height: 40px;
    background: #7AC751;
    border: none;
    border-radius: 5px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.slider_main_img{
    margin-top: -1035px;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_main_img>img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}
.slider_main_list{
    margin-top: -1055px;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_main_list_items{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.small_block{
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
    border: 2px solid #FFFFFF;
}
.small_block_img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}
.small_block_title{
    font-size: 14px;
    text-align: center;
}
.small_block_price{
    font-size: 16px;
    text-align: center;
    color: #7AC751;
}
.slider_item{
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(122, 199, 81, 0.29);
}
.slider_bottom{
    margin-top: -1090px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}
.slider_item_active{
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #7AC751;
}