.logoImg{
    margin-left: 130px;
    margin-top: 10px;
}
.title{
    margin-left: 172px;
    margin-top: -35px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;  
    color: #555555;
}
.search-panel{
    margin-left: 400px;
    margin-top: -35px;
    width: 582px;
    height: 46px;
    border: 3px solid #7AC751;
    border-radius: 8px;
    overflow: hidden;
}
.search-input{
    margin-top: -3px;
    margin-left: -5px;
    padding-left: 10px;
    border: 3px solid #E3E3E3C7;
    width: 380px;
    height: 44px;
}
.Categories{
    margin-left: 815px;
    margin-top: -35px;
}
.search-btn{
    cursor: pointer;
    position: absolute;
    width: 56px;
    height: 48px;
    background: #7AC751;
    border: none;
    margin-left: 930px;
    margin-top: -30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.img1{
    cursor: pointer;
    position: absolute;
    margin-left: 1180px;
    margin-top: -15px;
}
.img2{
    cursor: pointer;
    position: absolute;
    margin-left: 1230px;
    margin-top: -15px;
}
.img3{
    cursor: pointer;
    position: absolute;
    margin-left: 1280px;
    margin-top: -15px;
}
.All{
    margin-top: 55px;
    margin-left: 135px;
    width: 260px;
    height: 67px;
    background: #7AC751;
}
.ImgAll{
    margin: 23px 33px;
}
.text{
    margin-left: 74px;
    margin-top: -50px;
    position: absolute;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
body nav ul{
    display: flex;
    margin-left: 470px;
    
    margin-top: -40px;
}
body nav ul .nav-list{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #555555;
    cursor: pointer;
}
body nav ul .nav-list .nav-list-item:hover {
    color: #7AC751;
    transition-duration: 1s;
}
.COLLECTIONS{
    margin-left: 135px;
    margin-top: 15px;
    width: 260px;
    height: 434px;
    background: #F7F8FA;
}
li{
    cursor: pointer;
    padding: 3px 29px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px; 
    color: #555555;   
}
li:hover{
    color: #04642a;
    transition-duration: 1s;  
}
hr{
    border: 1px solid #E3E3E3;
}
.card{
    margin-left: 406px;
    margin-top: -430px;
    width: 899px;
    height: 425px;
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
    backdrop-filter: blur(77.5px);
    border-radius: 1px;
}
.btnShop{
    cursor: pointer;
    position: absolute;
    margin-top: 37px;
    margin-left: 47px;
    width: 129px;
    height: 40px;
    border: none;
    background: #7AC751;
    border-radius: 5px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
 
    color: #FFFFFF;
}
.Top{
    padding-top: 73px;
    padding-left: 47px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;   
    color: #7AC751;
}
.serve{
    padding-top: 6px;
    padding-left: 47px;
    width: 318px;
    height: 94px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    
    color: #2F2F2F;
}
.get{
    padding-top: 29px;
    padding-left: 47px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 26px;  
    color: rgba(81, 81, 81, 0.71);
}
.FurnitureImg{
    margin-left: 335px;
    margin-top: -225px;
}